.circle {
  width: 50px;
  height: 50px;
  background-color: #b5b5b5;
  text-indent: -9999px;
  border-radius: 24px;
  float: left;
  margin: 1px 2px;
  position: relative;
}
.circle.blocked {
  background-color: #ff845e;
}
.circle.cat > div {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 95px;
  background: url("../images/happycat.png") left center;
  -webkit-animation: play 0.8s steps(4) infinite;
          animation: play 0.8s steps(4) infinite;
  bottom: 12px;
  left: -6px;
}
.sad-cat .circle.cat > div {
  width: 65px;
  height: 95px;
  background: url("../images/sadcat.png") left center;
  -webkit-animation: sad-cat-play 0.8s steps(5) infinite;
  bottom: 2px;
  left: -6px;
}

@-webkit-keyframes play {
  100% {
    background-position: -240px;
  }
}

@keyframes play {
  100% {
    background-position: -240px;
  }
}
@-webkit-keyframes sad-cat-play {
  100% {
    background-position: -325px;
  }
}
@keyframes sad-cat-play {
  100% {
    background-position: -325px;
  }
}
.row {
  float: left;
  clear: both;
}
.row:nth-child(even) {
  margin-left: 25px;
}

body {
  background-color: #676567;
}
